body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(211, 181, 48);
}

form {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 25px;
}

label {
    grid-column: 1 / 2;
}

textarea {
    width: 300px;
}

input,button {
    grid-column: 1 / 3;
}

input {
    background-color: rgb(7, 73, 7);
    color: white;
    padding: 5px;
    border-radius: 20px;
}
